.datepicker__calendar {
    width: 280px;
    box-shadow: 0px 0px 15px 3px #ccc;
    padding: 10px;
    background-color: white;
    z-index: 1000;
}

.datepicker__calendar-header {
    display: flex;
    padding: 7px;
}

.datepicker__calendar-header-text {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
}

.datepicker__calendar-header-button {
    border: 0;
    -webkit-appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    outline: none;
    position: relative;
    top: -5px;
}

.datepicker__calendar-tbl {
    display: flex;
    flex-wrap: wrap;
}

.datepicker__calendar-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 0 0 14.28%;
    height: 35px;
}

.datepicker__calendar-cell--header {
    color: #aaa;
}

.datepicker__calendar-cell-button {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: none;
}

.datepicker__calendar-cell-button:hover, .datepicker__calendar-header-button:hover {
    background-color: #eee;
    border: 1px solid #ddd;
}

.datepicker__calendar-cell--selected {
    color: white !important;
    background-color: #e13205 !important;
    border: 1px solid #e13205 !important;
    font-weight: bold;
}